.inc{
  border: none;
  height: 20px;
  padding: 10px 20px;
  background-color: brown;
}
.dec{
  border: none;
  height: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}