.App {
  text-align: center;
  padding: 10px;
}
.parent{
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: #282c34 2px solid;
}
.child-box1{
  width: 100px;
  height: 100px;
  background-color: red;
  text-align: start;
  font-weight: bold;
  border: black 2px solid;
}
.child-box2{
  width: 100px;
  height: 100px;
  background-color: yellow;
  text-align: start;
  font-weight: bold;
  border: black 2px solid;
}
.child-box3{
  width: 100px;
  height: 100px;
  background-color: green;
  text-align: start;
  font-weight: bold;
  border: black 2px solid;
}
.child-box4{
  width: 100px;
  height: 100px;
  background-color: purple;
  text-align: start;
  font-weight: bold;
  border: black 2px solid;
}